        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container { 
            height: 50px;
            position: relative;
        }
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .top-buttons {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .btn {
            padding: 10px 18px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-decoration: none;
            margin-left: 10px;
        }

        .btn:hover {
            background-color: #0056c7;
        }

        .middle-text{
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 4rem;
        }

        .services-gallery{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            width: 80%;
            margin: auto;
            text-align: center;

        }

        .services-gallery img {
            width: 100%;
            height: 150px; 
            object-fit: cover; 
            border-radius: 8px;
        }
        
        .site-footer {
         background-color: #f9f9f9;
          border-top: 1px solid #ddd;
        padding: 30px 0 15px;
        font-size: 15px;
        color: #555;
        }

        .footer-container {
         display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap;
        }

        .footer-left {
        display: flex;
        align-items: center;
        gap: 15px;
        }

        .footer-logo {
        height: 50px;
        }

        .footer-links {
        display: flex;
        gap: 25px;
        }

        .footer-links a {
        color: #333;
        text-decoration: none;
        transition: color 0.3s;
        }

        .footer-links a:hover {
        color: #007bff;
        }

        .footer-bottom {
        margin-top: 15px;
        text-align: center;
        color: #999;
        font-size: 13px;
        }

