body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .top-buttons {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .btn {
            padding: 10px 18px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-decoration: none;
            margin-left: 10px;
        }

        .btn:hover {
            background-color: #0056c7;
        }

        .middle-text{
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 4rem;
        }
